# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env
.env.*

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Dependency directories
vendor/

# Python cache
__pycache__/
*.pyc

# Java build
*.class
target/

# Misc
*.tmp
*.swp